<footer class="site-footer">
  <div class="container inner">
    <div>&copy; {{ config.extra.year }} Ticketmaster &mdash; MIT OR Apache-2.0 &mdash; <a href="{{ config.extra.github_repo }}">source on GitHub</a></div>
    <div>
      <a href="{{ get_url(path='/getting-started/', trailing_slash=true) }}">Get started</a>
      &middot;
      <a href="{{ get_url(path='/demo/', trailing_slash=true) }}">Live demo</a>
      &middot;
      <a href="{{ config.extra.github_repo }}/releases">Releases</a>
      &middot;
      <a href="{{ config.extra.github_repo }}/issues">Issues</a>
    </div>
  </div>
</footer>
