<footer class="site-footer">
  <div class="wrap">
    <div>&copy; {{ config.extra.year }} Ticketmaster &middot; MIT OR Apache-2.0 &middot; <a href="{{ config.extra.github_repo }}">source on GitHub</a></div>
    <div>
      <a href="{{ get_url(path='/getting-started/install/', trailing_slash=true) }}">Install</a> &middot;
      <a href="{{ get_url(path='/demo/', trailing_slash=true) }}">Demo</a> &middot;
      <a href="{{ config.extra.github_repo }}/releases">Releases</a> &middot;
      <a href="{{ config.extra.github_repo }}/issues">Issues</a>
    </div>
  </div>
</footer>
